

html {
    margin: 0;
    padding: 0;
    

}
body {
    background: #f6bc33d5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #54110c;
    margin: 0;
    padding: 0;
    width: 100%;
    
   
}
header {
    background-image: url("https://cdn.mos.cms.futurecdn.net/5e7ehPZf5RT6Jt2H9cQP6k-970-80.jpg.webp");
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    
}

h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px 3px;
    opacity: 0.9;
}

h4{
    margin-bottom: 0;
    padding-left: 0;

}

.first-section {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-top: 10px;
    
    
}

p{
    width: 450px;
    text-align: center;

}

.trailer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}

iframe {
    border: 0px;
}

.link-section {
    display: flex;
    flex-direction: column;

    margin: 20px 0 30px 0;
}

ul {
    display: flex;
    justify-content: flex-start;
   

}

li {
    list-style: none;
    
    
}

a {
    text-decoration: none;
    color: #e93f33;
 
    font-weight: 600;
    padding-right: 30px;

}

li :hover {
    color: #549502;
}

footer{
    background: #e93f33af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 97.1%;
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 12px;
    overflow-x:hidden;
}





